<c-vars src="" alt="" placeholder="" online="" offline="" content_class="" class="" />
<div class="avatar{% if not src %} avatar-placeholder{% endif %}{% if online %} avatar-online{% endif %}{% if offline %} avatar-offline{% endif %} {{ class }}"
     {{ attrs }}>
  <div class="{% if content_class %}{{ content_class }}{% else %}w-12 rounded-full{% if not src %} bg-neutral text-neutral-content{% endif %}{% endif %}">
    {% if src %}
      <img src="{{ src }}" alt="{{ alt }}" />
    {% elif placeholder %}
      <span>{{ placeholder }}</span>
    {% else %}
      <svg xmlns="http://www.w3.org/2000/svg"
           width="80%"
           height="80%"
           fill="currentColor"
           viewBox="0 0 16 16"
           aria-hidden="true"
           focusable="false">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
      </svg>
    {% endif %}
  </div>
</div>
